.form-layout {
    background-color: rgba(220, 220, 220, 0.5);
    box-shadow: 0 2px 4px rgb(255 255 255 / 10%), 0 8px 16px rgb(255 255 255 / 10%);
}

.form-desc {
    color: #563d7c;
    text-align: center;
    padding-bottom: 1.5rem;
    font-size: 1.4rem;    
}
